# Environnement et configuration
.env
venv/
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Logs et bases de données locales
*.log
*.sqlite

# Fichiers système
.DS_Store
Thumbs.db

# Fichiers IDE
.idea/
.vscode/
*.swp
*.swo 